@model IEnumerable<PREP.Models.Prep_Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presentation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exposure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFullDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeColor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presentation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exposure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFullDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThemeColor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr>
}

</table>
