@model IEnumerable<PREP.Models.AssetType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicturePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicturePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssetTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssetTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssetTypeID })
        </td>
    </tr>
}

</table>
